<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftByPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5612FC961B5F95E40068A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5612FCAA1B5F95E50068A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5612FCB51B5F95E50068A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
